<div>
  <mat-toolbar class="containers">
    <span class="text"><b>Bet Builder Fixture</b></span>
  </mat-toolbar>
  <mat-card>
      <mat-card-content> 
           <button mat-icon-button style="color: rgb(255, 0, 0)"><mat-icon>arrow_circle_left</mat-icon></button>
      </mat-card-content>
    </mat-card>
    <mat-card class="container-fix">
      <mat-card-content class="container-fix"> 
          <h2 class="container"><b>Make It A Bet Builder ?</b></h2>
      </mat-card-content>
    </mat-card>

    <mat-card >
      <mat-card-content > 
          <h2>Mar 25,2022 13.20</h2><span>RAJSTAN UNITED VS KENKRE FC IND 1-LEAGUE</span>
      </mat-card-content>
     </mat-card>
<!-- <h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<h4>Basic native select</h4>
<mat-form-field>
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field> -->